{% if slovo_adminer_container_labels_traefik_enabled %}
traefik.enable=true

{% if slovo_adminer_container_labels_traefik_docker_network %}
traefik.docker.network={{ slovo_adminer_container_labels_traefik_docker_network }}
{% endif %}

traefik.http.services.slovo-adminer.loadbalancer.server.port=8080
traefik.http.routers.slovo-adminer.rule={{ slovo_adminer_container_labels_traefik_rule }}
traefik.http.routers.slovo-adminer.service=slovo-adminer
traefik.http.routers.slovo-adminer.entrypoints={{ slovo_adminer_container_labels_traefik_entrypoints }}
traefik.http.routers.slovo-adminer.tls={{ slovo_adminer_container_labels_traefik_tls | to_json }}
{% if slovo_adminer_container_labels_traefik_tls %}
traefik.http.routers.slovo-adminer.tls.certResolver={{ slovo_adminer_container_labels_traefik_tls_certResolver }}
{% endif %}
{% endif %}
